/* Custom styles applied on top of Slate */

#header_wrap {
  background: url('/site-images/bg.jpg');
  background-size: cover;
}

#main_content_wrap {
  border-top: 0px;
}

.article-image {
  max-width: 50%;
  display: block;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .article-image {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

#lightbox {
  display: none;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#lightbox.visible {
  display: flex;
}

#lightbox img {
  border: none;
  box-shadow: none;
}

table {
  min-width: 640px;
}

pre, code {
  font-size: 13px;
}

table *:not(pre) {
  font-size: 16px;
}

.article-table {
  overflow-x: auto;
  min-width: 100%;
  table-layout: fixed;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-grid > div {
  padding: 5px 10px;
}

@media (max-width: 660px) {
  .home-grid {
    display: block;
  }

  .home-grid > div {
    padding: 0;
  }
}