/* Custom styles applied on top of Slate */

#header_wrap {
  background: url('/site-images/bg.jpg');
  background-size: cover;
}

#main_content_wrap {
  border-top: 0px;
}

.article-image {
  max-width: 50%;
  display: block;
}