$body-bg: #3b3b3b;
$body-font-color: #ccc;
$main-bg: #2b2b2b;
$main-border: solid 1px #656565;
$editor-bg: #262524;
$editor-border: 1px solid rgb(75, 75, 75);

@import 'desktop';

body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow: auto;
}

body {
    background: $body-bg;
    color: $body-font-color;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

* {
    box-sizing: border-box;
}

.show {
    display: block !important;
}

.show-flex {
    display: flex !important;
}

input::-ms-clear {
    display: none;
}

input:focus, textarea:focus {
    outline: none;
    background: rgba(225, 225, 225, 0.1) !important;
}

.text-center {
    text-align: center !important;
}

h1, h2, h3, h4, h5, h6, b, strong, i, thead {
    font-family: 'Source Code Pro', monospace;
}

h1 {
    font-size: 1.9em;
    margin: 0.2em;
}

.button {
    padding: 5px 18px;
    background: rgba(0,0,0,0.2);
    margin: 4px;
    display: inline-block;
    border: 1px solid transparent;
    cursor: pointer;
}

.button:hover {
    border: 1px solid #ccc;
    background: rgba(225,225,225,0.1);
}

.message {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.2);
    z-index: 99999;
}

main {
    background: $main-bg;
    width: 50%;
    padding: 1.5em 1em;
    margin: 1em auto;
    border: $main-border;
    display: block;
    min-height: 400px;
    padding-bottom: 150px;
    position: relative;
}

.editor {
    background: $editor-bg;
    width: 90%;
    margin: 0px auto;
    font-size: 0px;
    border: $editor-border;
    min-height: 23px;
    background: rgba(0, 0, 0, 0.418);

    .item {
        display: inline-flex;
        width: 100%;
        border-top: $editor-border;
        position: relative;

        .key, .value {
            padding: 2px;
            font-family: 'Source Code Pro', monospace;
            display: block;
            border: 0px;
            border-radius: 0px;
            background: transparent;
            color: white;
            background: $editor-bg;
        }

        .key {
            width: calc(50% - 21px);
            border-right: $editor-border;
        }
    
        .value {
            width: 50%;
        }

        .remove {
            width: 21px;
            background-color: rgb(75, 75, 75);
            background-size: 50% 50%;
            background-repeat: no-repeat;
            background-position: center center;
            cursor: pointer;
        }

        .remove:hover {
            background-color: rgb(100, 100, 100);
        }
    }

    .item:first-child {
        border-top: 0px !important;
    }
}

.dictionary {
    display: block;
    position: absolute;
    top: 21px;
    background-color: $editor-bg;
    border: $editor-border;
    width: 50%;
    margin: 0;
    padding: 0;
    text-align: left;
    overflow-y: auto;
    max-height: 184px;
    z-index: 99;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -ms-overflow-style: none;
    overflow-x: hidden;
    box-sizing: content-box;

    li {
        font-size: 13px;
        font-family: 'Source Code Pro', monospace;
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding: 2px;
        cursor: default;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    li:hover {
        background-color: rgba(225, 225, 225, 0.1);
    }
}

.dictionary::-webkit-scrollbar {
    display: none;
}

.dictionary-key {
    left: 0;
}

.dictionary-value {
    right: 0;
}

html > .dictionary {
    display: none; // TEMPORARY FIX for dictionary being appended to the html element after items are deleted
}

.options {
    display: flex;
    width: 90%;
    //display: block;
    margin: 0px auto;

    .option {
        width: 100%;
        padding: 10px;
        border: $editor-border;
        font-size: 0.8em;
        border-top-color: transparent;
    }

    .option:not(:first-child) {
        border-left-color: transparent;
    }

    .option:hover {
        border: 1px solid $body-font-color;
        background-color: rgba(225, 225, 225, 0.1);
        cursor: pointer;
    }

    .option:active {
        background-color: rgba(225, 225, 225, 0.3);
    }
}

.darken {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    display: none;
    z-index: 999;
}

.overlay {
    width: 40%;
    height: 100%;
    margin: 0 auto;
    background-color: $main-bg;
    border: $main-border;
    position: fixed;
    top: 32px;
    left: 30%;
    display: none;
    z-index: 9999;
    padding: 10px;
    flex-direction: column;
    max-height: 360px;

    .content {
        font-size: 0.9em;
        background: $editor-bg;
        border: $editor-border;
        width: 100%;
        height: fit-content;
        height: 100%;
        padding: 10px;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative !important;
        line-height: 1.5;
        text-align: left;

        .overlay-item {
            padding: 10px;
            background: rgba(0,0,0,0.2);
            margin: 4px 0;
            position: relative;
            border: 1px solid transparent;
            cursor: pointer;

            .name {
                font-size: 1em;
                font-weight: bold;
                font-family: 'Source Code Pro', monospace;
            }

            .description {
                font-size: 0.9em;
                margin: 0 14px;
                margin-right: 25px;
                //font-style: italic;
            }
        }

        .overlay-item:after {
            content: "+";
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
            line-height: 1;
            font-weight: bold;
        }

        .overlay-item:hover {
            border: 1px solid #ccc;
            background: rgba(225,225,225,0.1);
        }
    }
}

.overlay-export .content {
    flex-direction: column;
    margin-top: 10px;
    text-align: center;

    .save-desktop {
        display: flex;
    }

    textarea {
        background-color: rgba(225,225,225,0.1);
        border: $editor-border;
        color: white;
        border-radius: 0px;
        width: 100%;
        padding: 10px;
        height: 100%;
        margin-top: 6px;
    }

    small {
        line-height: 1;
        margin-bottom: 8px;
        margin-top: 10px;
        display:block;
    }

    input.save-path {
        padding: 5px 10px;
        background: transparent;
        margin: 4px;
        display: inline-block;
        border: $editor-border;
        border-radius: 0px;
        font-size: 0.9em;
        line-height: 1.5;
        flex-grow: 1;
        color: white;
    }
}